{# {% extends 'base.html.twig' %}

{% block title %}Hello CoiffureController!{% endblock %}

{% block body %}
    {% for coiffure in aPresentation %}
        <div class="d-flex">
        {% if coiffure.format == true %}
            <video src="{{ asset('uploads/presentation/' ~ coiffure.file) }}"></video>
        {% else %}
            <img src="{{ asset('uploads/presentation/' ~ coiffure.file) }}" class="col-lg-2" alt="coiffure">    
        {% endif %}
        </div>
    {% endfor %}
{% endblock %} #}
