{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}
	<div class="col-lg-6 border d-flex horizontal-scrollable">
		{% for dates in aDate %}
			<div class="col-3 d-flex flex-column h-100 text-center">
				<div>
					{{dates.dateFr}}
				</div>
				{% for hour in dates.hour %}
					<div>
						{{dates.dateData}} {{hour}}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
