{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}
	{% if dateRdv != null %}
		{% for rdv in dateRdv %}
			<div class="alert alert-primary">
				Votre rendez-vous est le
				{{rdv}}
			</div>
		{% endfor %}
	{% endif %}
	{% include 'common/index.html.twig' %}
{% endblock %}
