{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	{% if dateRdv != null %}
		{% for coiffeur, rdv in dateRdv %}
			<div class="alert alert-primary">
				Votre rendez-vous est le
				{{rdv}} avec {{coiffeur}}
			</div>
		{% endfor %}
	{% endif %}
	{% include 'common/index.html.twig' %}
{% endblock %}

{% block javascripts %}
	<script language="javascript" src="/js/reservation.js"></script>
{% endblock %}