{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}
	<div class="m-0 bg-team-user ">
		<div class="team-member d-flex justify-content-center">
			{% for coiffeur in aCoiffeur %}
				<div class=" p-2 rounded-circle text-center d-flex flex-column">
					<img id="coiffeurImage_{{coiffeur.id}}" class="mx-auto rounded-circle d-block hoverWB" src="{{ asset('uploads/coiffeurs/' ~ coiffeur.file) }}" alt="" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1000"/>
				<h4 class="font-SHR text-white" class="my-3 text-grey font-SHR" data-aos="fade-down" data-aos-duration="1500">{{coiffeur.username}}</h4>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
