{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<img id="ajax-loading" class="col-2 offset-5 position-absolute" style="z-index:10; top:50%" src="{{ asset('img/loading.gif') }}" alt="Loading"/>
	{% if dateRdv != null %}
		{% for coiffeur, rdv in dateRdv %}
			<div class="alert alert-primary">
				Votre rendez-vous est le
				{{rdv}}
				avec
				{{coiffeur}}
			</div>
		{% endfor %}
	{% endif %}
	{% include 'common/index.html.twig' %}
{% endblock %}

{% block javascripts %}
	<script language="javascript" src="/js/reservation.js"></script>
{% endblock %}
