{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}
	<div class="col-lg-6 border d-flex horizontal-scrollable">
		<div class="col-3 d-flex flex-column h-100 text-center">
			<div>
				{{today}}
			</div>
			<div>
				{{todayTime}}
			</div>
		</div>
		{% for date in aDate %}
			<div class="col-3 d-flex flex-column h-100 text-center">
				<div>
					{{date}}
				</div>
				{% for hour in aHour %}
					<div>
						{{hour}}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
