/* html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.75rem;
  color: #38b6ff;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 0;
}
/* ADO */
header.wrapper {
  background: url("img/barber_background.png");
  color: #eee;
  width: 100%;
  height: 50%;
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear 1s infinite;
}

@keyframes animation {
  100% {
    background-position: -3000px 0px;
  }
}

.border-wrapper {
  border-bottom: #2a2d2a solid 1px;
}

.bg-barber {
  background: url("img/bg_barber_border.png");
}

.bg-phone {
  background: url("img/iphone.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-bottom-barber {
  border-bottom: 1px solid #2a2d2a !important;
}

@font-face {
  font-family: "SignPainter_HouseScript_Regular";
  src: url("/font/SignPainter_HouseScript_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: lighter;
}

.font-SHR {
  font-family: "SignPainter_HouseScript_Regular";
  letter-spacing: 0.1rem;
}

.iphone-notif {
  background-color: rgba(255, 255, 255, 0.692);
  box-shadow: 1px;
  font-size: 8px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: 0.4s;
}

.iphone-notif:hover {
  background-color: #3a71b1;
  cursor: pointer;
  color: white;
}

.cursor:hover {
  cursor: pointer;
}

.text-grey {
  color: #2a2d2a;
}

.bg-grey {
  background-color: #2a2d2a;
  color: white;
}

.addBtn:hover {
  background-color: #1c1d1c;
  cursor: pointer;
  text-decoration: none;
}

.bg-presentation {
  background: linear-gradient(#3a71b1, white);
}

.bg-team {
  background: linear-gradient(white, #ff1716);
}

.bg-team-user {
  background: linear-gradient(#ff1716, white);
}

@keyframes apparition {
  from {
    width: 1%;
  }
  to {
    width: 80%;
  }
}

@keyframes disparition {
  from {
    width: 80%;
  }
  to {
    width: 1%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  75% {
    margin-left: 25%;
  }

  to {
    margin-left: 0%;
  }
}

.animation-app {
  animation-duration: 2s;
  animation-name: apparition;
}

.animation-disp {
  animation-duration: 2s;
  animation-name: disparition;
}

.bg-cross {
  background-color: #f8f9fa70 !important;
}

.hover-white:hover {
  color: white;
}

.horizontal-scrollable {
  overflow-x: auto;
  white-space: nowrap;
}

.bg-blue {
  background-color: #3a71b1;
}

.hoverBgBlue:hover {
  background-color: #3a71b1;
  border: none;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

.btn-blue {
  background-color: #3a71b1;
  color: white;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: white;
  color: #3a71b1 !important;
  font-weight: bold;
  border: #3a71b1 solid;
}

.btn-blue-reverse {
  background-color: white;
  color: #3a71b1 !important;
  font-weight: bold;
  border: #3a71b1 solid;
}

.btn-blue-reverse:hover {
  background-color: #3a71b1;
  color: white !important;
  font-weight: bold;
}

.bg-fonce {
  background-color: #343a40 !important;
}

.cursor-forbidden:hover {
  cursor: not-allowed;
}

/* html, body {
    max-width: 100%;
    overflow-x: hidden;
  } */

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .begin {
    background-image: url(images/cathzmin.jpg);
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    width: 304px;
    height: 410px;
    margin: 36px 0px 0px 295px;
    margin-top: -210px;
    margin-left: 29px;
  }
} */
